<div class="jumbotron" data-ng-controller="CompanyCtrl">
    <div class="row" access-level="admin">
        <button class="btn btn-info btn-lg glyphicon glyphicon-plus first-jumbotron-toolbar"
                ng-click="addJob()"></button>
        <button class="btn btn-lg glyphicon glyphicon-minus jumbotron-toolbar" ng-click="removeJob()"></button>
    </div>
    <div class="row">
        <form name="form" class="form-horizontal" ng-keyup="updateCompany($event)" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cName">Name</label>
                <input type="text" class="col-sm-10 form-control" ng-model="company.name" id="cName" name="cName"
                       placeholder="Company name"/>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cStreet">Street</label>
                <input class="col-sm-10 form-control" type="text" ng-model="company.street" id="cStreet"
                       name="cStreet"
                       placeholder="Street and Number"/>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cCity">City</label>
                <input class="col-sm-10 form-control" type="text" class="form-control" ng-model="company.city"
                       id="cCity" name="cCity"
                       placeholder="City name"/>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cTechnologies">Technologies</label>
                <select class="col-sm-10 select2" id="cTechnologies"
                        ui-select2="technologies_select2Options"
                        multiple
                        ng-model="company.technologies"
                        ng-click="updateCompany()"
                        data-placeholder="Java, Web, C#, C++">
                    <option ng-repeat="technology in technologies" value="{{technology}}">
                        {{technology}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="cMail">Mail</label>
                <input class="col-sm-10 form-control" type="text" class="form-control" ng-model="company.email"
                       id="cMail" name="cMail"
                       placeholder="Job's Mail"/>
            </div>
            <!--Angular-->
            <div class="row-fluid">
                <h2>AngularJS</h2>

                <div class="form-group">
                    <!--<div class="col-sm-12 col-md-12">-->

                    <!--<div class="fileinput">-->
                    <!--<div class="thumbnail" style="width: 200px; height: 150px;">-->
                    <!--<img data-src="holder.js/100%x100%" alt="..." bs-holder>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="col-sm-3 col-md-3">

                        <div class="fileUpload btn btn-default btn-file">Upload
                            <input id="uploadBtn" type="file" class="upload"
                                   ng-file-select="onImageSelect($files)"/>
                        </div>


                        <!--<input class="btn btn-default btn-file" ng-file-select type="file" multiple/>-->
                        <!--<button ng-show="true" class="btn btn-default btn-file" ng-file-select="openFileDialog()">-->
                        <!--Select Image-->
                        <!--</button>-->
                    </div>
                    <div class="col-sm-9 col-md-9">
                        <div ng-show="company.logoUrl">{{company.logoUrl}}</div>

                    </div>
                </div>
            </div>

            <!-- JQuery -->

            <div class="row-fluid">
                <h2>jQuery</h2>

                <div class="form-group">
                    <div class="col-sm-12 col-md-6">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                <img data-src="holder.js/100%x100%" alt="..." bs-holder>
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"
                                 style="max-width: 200px; max-height: 150px;">
                            </div>
                            <div>
                                    <span class="btn btn-default btn-file"><span
                                            class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="...">
                                    </span>
                                <a href="#" class="btn btn-default fileinput-exists"
                                   data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>