<div data-ng-controller="CompanyListCtrl">
    <div class="row">

        <div class="col-md-12">
            <div class="company-container">
                <div class="align-center">
                    <div growl></div>
                </div>
                <div class="nav-header">משרות</div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-model='shouldSelectAll' ng-click="selectAll($event)"></th>
                        <th class="logo">Logo</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Technologies</th>
                        <th>More</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="company in companies | filter:isRelevant"
                        ng-class="(company.selected) ? 'selected' : ''" ng-click="toggleSelected(company)">
                        <td>
                            <input type="checkbox" ng-model="company.selected">
                        </td>
                        <td>
                            <a href="#/phones/{{company.id}}/{{company.details}}"><img
                                    ng-src="{{company.logoUrl}}" class="logo"/></a>
                        </td>
                        <td>
                            <a href="#/phones/{{company.id}}/{{company.details}}">{{company.name}}</a>
                        </td>
                        <td>
                            {{company.city}}
                            <!--<ul ng-repeat="adr in company.addresses" class="address">-->
                                <!--<li>{{adr}}</li>-->
                            <!--</ul>-->
                        </td>
                        <td>
                            <ul ng-repeat="technology in company.technologies" class="technology">
                                <li>{{technology}}</li>
                            </ul>
                        </td>
                        <td>
                            <a href="#" ng-click="showDetails(company)">חברה</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>