<div class="row company-card-container row-vertical-align" ng-class="{'selected' : company.selected }">
    <div class="col-xs-1">
        <i ng-class="{'glyphicon glyphicon-unchecked': !company.selected, 'glyphicon glyphicon-check' : company.selected}"></i>
    </div>
    <div class="col-xs-2">
        <a ng-href="{{company.site|linkFixer}}" stop-propagation target="_blank"><img
                ng-src="{{company.logo.url}}" class="logo"
                ng-class="{'round-logo' : company.logo.shape === 'round'}"></a>
    </div>
    <div class="col-sm-4 col-xs-9">
        <a ng-href="{{company.site|linkFixer}}" stop-propagation target="_blank" class="company-card-header">{{::company.name}}</a>

        <div ng-repeat="location in company.locations" class="street">
            <span ng-show="!isEmpty(location.street)">
                {{location.street}}
            </span>
            <span ng-show="!isEmpty(location.street) && !isEmpty(location.city)">,</span>
            <span ng-show="!isEmpty(location.city)">{{location.city}}</span>
        </div>
    </div>
    <div class="col-sm-5 hidden-xs" style="direction: ltr">
        <span ng-repeat="requiredSkill in company.skills" class="skill">
            <skill-tag required-skill="requiredSkill" company="company"/>
        </span>
    </div>
</div>