<div id="companies-board-view" data-ng-controller="CompaniesBoardCtrl" class="view">
    <div class="row">
        <h3 class="big-title">חברות</h3>
    </div>

    <div class="row">
        <div class="select-all" ng-click="toggleSelectAll()"><i ng-class="{'glyphicon glyphicon-unchecked': !isSelectAll, 'glyphicon glyphicon-check' : isSelectAll}"></i>
            <h4>בחר הכל</h4>
        </div>

        <div class="transition-animation" ng-repeat="com in companies  | filter:isRelevant">
            <company-card company="com" ng-click="toggleSelected(com)"/>
        </div>
    </div>
</div>