<div data-ng-controller="CompaniesBoardCtrl">

    <div class="row">

        <div class="col-md-1">

        </div>

        <div class="col-md-10">
            <div class="company-container">
                <div class="nav-header">חברות</div>
                <table class="table table-hover">
                    <colgroup>
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 40%;">
                        <col span="1" style="width: 40%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="shouldSelectAll" ng-click="selectAll($event)"></th>
                        <th class="logo">Logo</th>
                        <th>Name</th>
                        <th>Addresses</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="company in companies | filter:isRelevant"
                        ng-class="(company.selected) ? 'selected' : ''" ng-click="toggleSelected(company)">
                        <td>
                            <input type="checkbox" ng-model="company.selected">
                        </td>
                        <td>
                            <a ng-href="{{company.site|linkFixer}}" stop-propagation target="_blank"><img ng-src="{{company.logoUrl}}" class="logo"></a>
                        </td>
                        <td>
                            <a ng-href="{{company.site|linkFixer}}" stop-propagation target="_blank">{{company.name}}</a>
                        </td>
                        <td>
                            <ul ng-repeat="address in company.addresses" class="technology">
                                <li>{{address}}</li>
                            </ul>
                        </td>
                        <td>
                            <button tooltip="More Details"
                                    ng-click="showDetails(company, $event)" class="btn btn-sm action-button">
                                Details <i class="glyphicon glyphicon-info-sign"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-1">

        </div>
    </div>
</div>