logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
#.idea
.bash_history
.jshintrc
.travis.yml
client/css/style.css.map
client/dist/
client/img/companies/
client/lib/
e2e-tests/
easywork.iml
resources/CV-ChenOppenhaim-ang.doc
resources/addresses.json
resources/cv1.docx
resources/cv2.docx
