.navbar .nav > li > a.brand {
    padding-left: 20px;
    margin-left: 0;
}

.row {
    margin-bottom: 20px;
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}

.experience {
    padding: 0;
    direction: ltr;
}

.content {
    width: 100%;
    position: relative;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #ddd;
    -webkit-box-shadow: 0 8px 6px 6px black;
    -moz-box-shadow: 0 8px 6px 6px black;
    box-shadow: 0 8px 6px 6px black;
}

footer p {
    padding: 5px 0 12px 10px;
}

.navlist li {
    display: inline;
    list-style-type: none;
}

body {
    padding-top: 70px;
}

.starter-template {
    padding: 40px 15px;
    /*text-align: center;*/
}

.select2 {
    direction: ltr;
    padding: 10px 5px 10px  5px;
}

/* Overriding select2 settings */
.select2-container {
    width: 100%;
}

.selected {
    background-color: #23d0ff;
}

.navbar .container .row {
    margin-bottom: 3px;
}

.company-container {
    min-height: 400px;
    margin-top: 20px;
    padding: 40px;
    background-color: #eeeeee;
    border-radius: 6px;
}

.company-listing {
    line-height: 50px;
}

.logo {
    width: 100px;
}

.address, .technology {
    max-height: 10px;
}

.my-drop-zone {
    border: dashed 3px lightgray;
    margin-top: 20px;
    width: 250px;
    background: #F8F8F8;
    height: 40px;
    text-align: center;
    padding-top: 6px;
}

.my-drop-zone.dragover {
    border: dashed 3px lightgreen;
    color: green;
}

.file-upload-container {
    padding-right: 0px;
}

.upload-button {
    padding-top: 5px;
}

.table-hover > tbody > tr:hover > td {
    background-color: rgba(54, 25, 25, .1);
}

.form {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 3px #AAA;
    width: 150px;
    background: #CCC;
    margin: 10px auto;
    padding: 10px;
    overflow: auto;
}

textarea.cv-message {
    height: 150px;
    direction: ltr;
}

.animate_right.ng-leave,
.animate_right.ng-enter,
.animate_left.ng-leave,
.animate_left.ng-enter {
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
}

/* Left Animation - The object the is gone is now from the left --------------------------------------*/

.animate_left.ng-enter {
    -webkit-animation: 0.5s enter-left;
    animation: 0.5s enter-left;
}

.animate_left.ng-leave {
    -webkit-animation: 0.5s leave-left;
    animation: 0.5s leave-left;
}

@keyframes enter-left {
    from {
        z-index: 100;
        left: 100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes leave-left {
    from {
        z-index: 101;
        left: 0;
        opacity: 1;
    }
    to {
        left: -100%;
        opacity: 0;
    }
}

@-webkit-keyframes enter-left {
    from {
        z-index: 100;
        left: 100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes leave-left {
    from {
        z-index: 101;
        left: 0;
        opacity: 1;
    }
    to {
        left: -100%;
        opacity: 0;
    }
}

/* Right Animation - The object the is gone is now from the right --------------------------------------*/
.animate_right.ng-enter {
    -webkit-animation: 0.5s enter-right;
    animation: 0.5s enter-right;
}

.animate_right.ng-leave {
    -webkit-animation: 0.5s leave-right;
    animation: 0.5s leave-right;
}

@keyframes enter-right {
    from {
        z-index: 100;
        right: 100%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes leave-right {
    from {
        z-index: 101;
        right: 0;
        opacity: 1;
    }
    to {
        right: -100%;
        opacity: 0;
    }
}

@-webkit-keyframes enter-right {
    from {
        z-index: 100;
        right: 100%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes leave-right {
    from {
        z-index: 101;
        right: 0;
        opacity: 1;
    }
    to {
        right: -100%;
        opacity: 0;
    }
}

#next-button {
    height: 446px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

#prev-button {
    height: 446px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#search-button {
    margin: 58px 0px 0px 0px;
    width: 149px;
    height: 49px;
}

#small-search-button {
    padding: 0px 0px 0px 0px;
    margin: 7px 0px 0px 0px;
    width: 120px;
    height: 39px;
}

.align-center {
    text-align: center;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}
.header-actions {
    padding: 15px 5px 5px 5px;
}

.ul {
    /*width: 100%;*/
    display: table;
    table-layout: fixed; /* optional */
}

ul li {
    display:inline;
    /*width: auto;*/
    /*text-align: center;*/
}
.remove-icon {
    float: left;
}
