.navbar .nav> li > a.brand {
    padding-left: 20px;
    margin-left: 0;
}

.row {
    margin-bottom: 20px;
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}

/*
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}
*/

.experience {
    padding: 0;
}


.content {
    margin-top: 50px;
    width: 100%;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow: 0 8px 6px 6px black;
    -moz-box-shadow: 0 8px 6px 6px black;
    box-shadow: 0 8px 6px 6px black;
}
footer p{
    padding: 5px 0 12px 10px;
}

.navlist li
{
    display: inline;
    list-style-type: none;
}

body {
    padding-top: 70px;
}

.starter-template {
    padding: 40px 15px;
    /*text-align: center;*/
}

.select2 {
    direction: ltr;
}

.select2-container {
    width: 100%;
}

.selected {
    background-color: #23d0ff;
}

.company-container {
    min-height: 400px;
    padding: 30px;
    background-color: #eeeeee;
    border-radius: 6px;
}

.company-listing {
    line-height: 50px;
}

.logo {
    width: 100px;
}

.address, .domain{
    max-height: 10px;
}

.my-drop-zone {
    border: dashed 3px lightgray;
    margin-top: 20px;
    width: 250px;
    background: #F8F8F8;
    height: 40px;
    text-align: center;
    padding-top: 6px;
}

.my-drop-zone.dragover {
    border: dashed 3px lightgreen;
    color:green;
}

.file-upload-container {
    padding-right: 0px;
}
.upload-button {
    padding-top: 5px;
}
.table-hover > tbody > tr:hover > td {
    background-color: rgba(54, 25, 25, .1);
}

.form {
    border:2px solid white;
    border-radius:10px;
    box-shadow:0 0 3px #AAA;
    width:150px;
    background:#CCC;
    margin:10px auto;padding:10px;
    overflow:auto;
}

textarea.cv-message {
    height: 150px;
    direction: ltr;
}

.container-animate {
    /*position: relative;*/
}

.animate.ng-leave,
.animate.ng-enter {
    /*-webkit-animation: enter 1s cubic-bezier(.17,.67,.83,.67);*/
    /*animation: enter 1s cubic-bezier(.17,.67,.83,.67);*/

    /*-webkit-animation: 0.5s enter;*/
    /*animation: 0.5s enter;*/

    width: 1140px;
    height: 509px;
    /*top:0;*/
    /*left:0;*/
    /*right:0;*/
    float: right;
    position: absolute;
    /*overflow: hidden;*/
}

.animate.ng-enter {
    -webkit-animation: 0.5s enter;
    animation: 0.5s enter;
}

.animate.ng-leave {
    -webkit-animation: 0.5s leave;
    animation: 0.5s leave;
}

@keyframes enter {
    from {
        z-index:100;
        top:600px;
        opacity:0;
    }
    to {
        top:0;
        opacity:1;
    }
}

@keyframes leave {
    from {
        z-index:101;
        top:0;
        opacity:1;
    }
    to {
        top:-600px;
        opacity:0;
    }
}

@-webkit-keyframes enter {
    from {
        z-index:100;
        top:600px;
        opacity:0;
    }
    to {
        top:0;
        opacity:1;
    }
}

@-webkit-keyframes leave {
    from {
        z-index:101;
        top:0;
        opacity:1;
    }
    to {
        top:-600px;
        opacity:0;
    }
}
/*@keyframes enter {*/
    /*from { left:100%; }*/
    /*to { left:0; }*/
/*}*/

/*@-webkit-keyframes enter {*/
    /*from { left:100%; }*/
    /*to { left:0; }*/
/*}*/

/*@keyframes switch-leave {*/
    /*from { left:0; }*/
    /*to { left:-100%; }*/
/*}*/

/*@-webkit-keyframes switch-leave {*/
    /*from { left:0; }*/
    /*to { left:-100%; }*/
/*}*/