/* Colors */
$base10: #483A3A;
$base30-1: #8FB98B;
$base30-2: #DE564B;
$base60-lighter: #F5EEDB;
$base-60-light: #EAE1C0;
$font-color-on-light-background: $base30-2;
$header-background-color: $base10;
$font-color-on-dark-background: $base60-lighter;
$link-color: darken( $base-60-light, 50%);

.header {
  background: $header-background-color;
  border-color: $header-background-color;
}

.col2 {
  background: #dcdae5;
}

body {
  background: $base60-lighter;
}

.navbar .nav > li > a.brand {
  padding-left: 20px;
  margin-left: 0;
}

.row {
  margin-bottom: 20px;
  .row {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.experience {
  float: right;
  direction: ltr;
}

.content {
  width: 100%;
  position: relative;
}

.view-container {
  margin-top: 150px;
  min-height: 400px;
  padding: 40px;
  background-color: $base-60-light;
  border-radius: 6px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #ddd;
  -webkit-box-shadow: 0 8px 6px 6px black;
  -moz-box-shadow: 0 8px 6px 6px black;
  box-shadow: 0 8px 6px 6px black;
  p {
    padding: 5px 0 12px 10px;
  }
}

.navlist li {
  display: inline;
  list-style-type: none;
}

.starter-template {
  padding: 40px 15px;
  /*text-align: center;*/
}

.select2 {
  direction: ltr;
  padding: 10px 5px 10px  5px;
}

/* Overriding select2 settings */

.select2-container {
  width: 100%;
}

.selected {
  background-color: rgba(151, 173, 254, 0.44);
}

.navbar .container .row {
  margin-bottom: 3px;
}

.company-container {
  min-height: 400px;
  padding: 40px;
  background-color: $base-60-light;
  border-radius: 6px;
}

.company-listing {
  line-height: 50px;
}

.logo {
  max-width: 100px;
  max-height: 60px;
}

.round-logo {
  border-radius: 50%;
}

.address, .technology {
  max-height: 10px;
}

.my-drop-zone {
  border: dashed 3px lightgray;
  margin-top: 25px;
  width: 100%;
  background: #F8F8F8;
  height: 80px;
  text-align: center;
  padding-top: 6px;
  &.dragover {
    border: dashed 3px lightgreen;
    color: green;
  }
}

.file-upload-container {
  padding-right: 0px;
}

.table-hover > tbody > tr:hover > td {
  background-color: rgba(54, 25, 25, 0.1);
}

.form {
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 3px #AAA;
  width: 150px;
  background: #CCC;
  margin: 10px auto;
  padding: 10px;
  overflow: auto;
}

textarea.cv-message {
  height: 150px;
  direction: ltr;
}

#next-button {
  height: 446px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

#prev-button {
  height: 446px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#search-button {
  margin: 58px 0px 0px 0px;
  width: 149px;
  height: 49px;
}

#small-search-button {
  padding: 0px 0px 0px 0px;
  margin: 7px 0px 0px 0px;
  width: 120px;
  height: 39px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.header-actions {
  padding: 15px 5px 5px 5px;
}

.ul {
  /*width: 100%;*/
  display: table;
  table-layout: fixed;
  /* optional */
}

ul li {
  display: inline;
  /*width: auto;*/
  /*text-align: center;*/
}

.remove-icon {
  float: left;
}

.top-padding {
  margin: 0px 0px 10px 0px;
  padding: 0;
}

.top-margin {
  margin: 10px 0px 0px 0px;
}

.extra-vertical-padding {
  margin: 0px 0px 33px 0px;
  padding: 0;
}

.jumbotron {
  padding: 20px;
}

.first-jumbotron-toolbar {
  margin: 0px 0px 10px 0px;
}

.jumbotron-toolbar {
  margin: 0px 15px 10px 0px;
}

.image-container {
  max-height: 150px;
  max-width: 200px;
}

.table > tbody > tr > td {
  vertical-align: middle;
  border-top: 1px solid;
  border-color: lighten( $header-background-color, 50% );
}

td button.action-button {
  opacity: 0;
}

tr:hover button.action-button {
  opacity: 1;
}

.company-details-dialog .job-full-dialog .modal-dialog {
  width: 90%;
  min-width: 100px;
}

.job-container {
  margin: 50px 50px 50px 50px;
}

.job-image-container {
  float: right;
  max-height: 150px;
  max-width: 200px;
}

.fileUpload {
  float: right;
  overflow: hidden;
  width: 100px;
  input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
  }
}

.upload-file-name {
  padding-top: 10px;
  text-align: left;
}

.upload-file-skills {
  padding-top: 20px;
  text-align: left;
}

.empty-panel {
  height: 300px;
  vertical-align: middle;
  display: table-cell;
  color: rgba(0, 0, 0, 0.52);
}

.button-padding {
  margin: 10px;
}

#remember-me-label {
  color: slategray;
  margin-left: 5px;
}

#remember-me-input {
  color: #ffff00;
  padding-right: 50px;
}

.dashboard-list {
  overflow: auto;
  height: 65vh;
  ul li {
    height: 30px;
  }
  li a {
    padding: 6px 11px;
  }
}

.no-office {
  color: #808080;
  padding-top: 7px;
  padding-right: 5px;
}

.select2-container-multi .select2-choices {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: lighten($base60-lighter, 20%);
  direction: rtl;
}

.dropdown {
  padding-top: 15px;
  padding-left: 15px;
}

.register-login {
  width: inherit;
  float: left;
}

.big-title {
  color: $font-color-on-light-background;
}

.navbar-default .navbar-brand {
  color: $font-color-on-dark-background;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $font-color-on-dark-background;
  background-color: transparent;
}


a {
  color: $link-color;
}

a:hover,
a:focus {
  color: darken($link-color, 10%);
}

header a {
  color: $font-color-on-dark-background;
}

.btn-primary {
  color: #fff;
  background-color: $base30-1;
  border-color: $base30-1;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darken($base30-1, 20%);
  border-color: darken($base30-1, 20%);
}
