// Bootstrap SASS
$icon-font-path: "../lib/bootstrap-sass/assets/fonts/bootstrap/";
@import '../lib/bootstrap-sass/assets/stylesheets/bootstrap';

// Bootstrap rtl
@import 'bootstrap-rtl.min.css.scss';

// Font-awesome
$fa-font-path: "../lib/font-awesome/fonts/";
@import "../lib/font-awesome/scss/font-awesome";

/* Colors */
$base10: #483A3A;
$base30-1: #8FB98B;
$base30-2: #70674c;
$base60-lighter: #F5EEDB;
$base-60-light: #EAE1C0;
$font-color-on-light-background: $base30-2;
$header-background-color: $base10;
$font-color-on-dark-background: $base60-lighter;
$link-color: darken($base-60-light, 50%);
$base60-darker: darken($base60-lighter, 20%);

.col2 {
  background: #dcdae5;
}

body {
  background: $base60-lighter;
}

.navbar .nav > li > a.brand {
  padding-left: 20px;
  margin-left: 0;
}

.row {
  margin-bottom: 20px;
  .row {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.experience {
  float: right;
  direction: ltr;
}

.content {
  width: 100%;
  position: relative;
  direction: rtl;
}

.navbar {
  direction: rtl;
}

.view-container {
  margin-top: 150px;
  min-height: 400px;
  padding: 40px;
  background-color: $base-60-light;
  border-radius: 6px;
  direction: rtl;
}

.navlist li {
  display: inline;
  list-style-type: none;
}

.starter-template {
  padding: 40px 15px;
  /*text-align: center;*/
}

/* Overriding select2 settings */
.selected {
  background-color: rgba(151, 173, 254, 0.44);
}

.navbar .container .row {
  margin-bottom: 3px;
}

.company-container {
  min-height: 400px;
  padding: 40px;
  background-color: $base-60-light;
  border-radius: 6px;
}

.company-listing {
  line-height: 50px;
}

.logo {
  max-width: 100px;
  max-height: 60px;
}

.nav > li > a > img {
  &.small-logo {
    max-width: 30px;
    max-height: 60px;
  }
}

.round-logo {
  border-radius: 50%;
}

.skill {
  max-height: 10px;
  padding-right: 15px;
  float: left;
  padding-bottom: 19px;
}

.skill-tag {
  color: orange;
}

.my-drop-zone {
  border: dashed 3px lightgray;
  margin-top: 25px;
  width: 100%;
  background: #F8F8F8;
  height: 80px;
  text-align: center;
  padding-top: 6px;
  &.dragover {
    border: dashed 3px lightgreen;
    color: green;
  }
}

.file-upload-container {
  padding-right: 0px;
}

.table-hover > tbody > tr:hover > td {
  background-color: rgba(54, 25, 25, 0.1);
}

textarea.cv-message {
  height: 150px;
  direction: ltr;
}

.center-element {
  float: none;
  margin: 0 auto;
  display: block;
}

#search-button {
  height: 49px;
  padding: 10px 50px;
  font-size: 23px;
  line-height: normal;
  -webkit-border-radius: -34px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.align-center {
  text-align: center;
  display: block;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.vertical-align {
  vertical-align: middle;
}

.row-vertical-align {
  display: flex;
  align-items: center;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.no-horizontal-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.ul {
  /*width: 100%;*/
  display: table;
  table-layout: fixed;
  /* optional */
}

ul li {
  //  display: inline;
  /*width: auto;*/
  /*text-align: center;*/
}

.remove-icon {
  float: left;
}

.top-padding {
  margin: 0px 0px 10px 0px;
  padding: 0;
}

.top-margin {
  margin: 10px 0px 0px 0px;
}

.extra-vertical-padding {
  margin: 0px 0px 33px 0px;
  padding: 0;
}

.jumbotron {
  padding: 20px;
}

.first-jumbotron-toolbar {
  margin: 0px 0px 10px 0px;
}

.jumbotron-toolbar {
  margin: 0px 15px 10px 0px;
}

#home-view {
  .ui-select-container {
    height: 34px;
    margin-top: 8px;
  }
}

#job-view {
  .tab-content {
    padding-top: 20px;
  }
  .image-container {
    max-height: 150px;
    max-width: 200px;
  }

  .ui-select-container {
    min-height: 34px;

    input {
        float: right;
        padding-right: 12px;
    }

    .ui-select-match {
        float: right;

        &.company-selector {
          width: 100%;
        }

      .ui-select-toggle {
        text-align: right;
      }
    }
  }
}

#company-view {
  .image-container {
    max-height: 150px;
    max-width: 200px;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
  border-top: 1px solid;
  border-color: lighten($header-background-color, 50%);
}

.modal-content {
  width: 100%;
  min-width: 90px;
  background-color: $base-60-light;
}

.job-container {
  margin: 50px 50px 50px 50px;
}

.job-header {
  border-bottom: 2px solid #999;
}

.job-image-container {
  float: right;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  max-height: 150px;
  max-width: 200px;
}

.job-title-container {
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 2px solid #999;
  display: table-cell;
}

.upload-file-name {
  padding-top: 10px;
  text-align: left;
}

.empty-panel {
  height: 300px;
  vertical-align: middle;
  display: table-cell;
  color: rgba(0, 0, 0, 0.52);
}

.button-padding {
  margin: 10px;
}

#remember-me-label {
  color: slategray;
  margin-left: 5px;
}

#remember-me-input {
  color: #ffff00;
  padding-right: 50px;
}

.dashboard-list {
  overflow: auto;
  height: 65vh;
  ul li {
    height: 30px;
  }
  li a {
    padding: 6px 11px;
  }
}

.no-office {
  color: #808080;
  padding-top: 7px;
  padding-right: 5px;
}

.big-title {
  color: $font-color-on-light-background;
  margin-right: 3px;
}

.navbar-default .navbar-brand {
  color: $font-color-on-dark-background;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $font-color-on-dark-background;
  background-color: transparent;
}

a {
  color: $link-color;
}

a:hover,
a:focus {
  color: darken($link-color, 10%);
}

header a, .caret {
  color: $font-color-on-dark-background;
}

/** Overwrite btn-primary settings **/
.btn-primary {
  color: #fff;
  background-color: $base30-1;
  border-color: $base30-1;

  transition: all 0.3s ease 0s;

  &:hover, &:focus, &:active, &.open, &.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: darken($base30-1, 20%);
    border-color: darken($base30-1, 20%);
  }

  &.disabled, &[disabled], fieldset[disabled],
  &.disabled:hover, &[disabled]:hover, fieldset[disabled] &:hover,
  &.disabled:focus, &[disabled]:focus, fieldset[disabled] &:focus,
  &.disabled:active, &[disabled]:active, fieldset[disabled] &:active,
  &.disabled.active, &[disabled].active, fieldset[disabled] &.active {
    color: #fff;
    background-color: $base30-1;
    border-color: $base30-1;
  }
}

.details-title {
  height: 130px;
  line-height: 130px;
}

.align-middle {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.select-button {
  margin-top: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .checkbox-container {
    width: 100%;
    display: inline-block;
    padding-right: 3px;
    .checkbox-inner {
      float: right;
    }

    label {
      font-size: 16px;
      font-weight: normal;
      input {
        margin-left: 9px;
      }
      color: #909090;
    }
  }

  .login-button {
    width: 100%;
    display: block;
    font-weight: normal;
  }
}

.login-input, .login-input-middle-pass {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login-input-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signup-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.signup-input-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.create-account {
  text-align: center;
  width: 100%;
  display: block;
}

.btn-center {
  width: 50%;
  text-align: center;
  margin: inherit;
}

.social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 250%;
  padding: 0;
}

.social-login-more {
  width: 45%;
}

.social-google {
  background-color: #da573b;
  border-color: #be5238;
}

.social-google:hover {
  background-color: #be5238;
  border-color: #9b4631;
}

.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}

.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}

.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}

.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}

.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}

.import-cv-box {
  float: right;
  //padding: 10px;
}

.street {
  color: darkgray;
  display: inline
}

.company-card-header {
  font-size: 24px;
}

.company-card-container {
  background-color: lighten($base60-lighter, 20%);
  box-shadow: 5px 5px 1px $base60-darker;
  padding: 10px 0 10px 0;

  &.selected {
    background-color: #C7E5AF;
    &:hover {
      background-color: darken(#C7E5AF, 5%);
    }
  }
  &:hover {
    background-color: $base60-lighter;
  }
}

.skill-icon {
  margin-right: 7px;
}

.glyphicon-unchecked {
  font-size: 27px;
  color: lightgray;
}

.glyphicon-check {
  font-size: 27px;
  color: $base30-1;
}

.skill-tag {
  a:hover {
    cursor: pointer;
  }
}

.dashboard-entity-type {
  display: inline-block;
  padding-right: 9px;
  margin-bottom: 5px;
}

.transition-animation {
  opacity: 1;
}

.transition-animation.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.transition-animation.ng-enter-active {
  opacity: 1;
}

#upload-cv-view {
  .emphasize-border {
    padding: 10px;
    margin: 0 auto;
    display: block;

    .file-upload {

      .file-upload-text {
        text-align: right;
        padding-top:12px;
      }

      input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        float: right;
      }
    }
  }

}

.has-error {
  .emphasize-border {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

.send-cv-container {
  margin: 10px;

  .terms-agree-checkbox {
    direction: rtl;
    .radio, .checkbox {
      margin-top: 0px;
    }
  }

  .recommend-container {
    margin-bottom: 10px;
    .recommend-label-container {
      display: inline-block;
    }
    .fb-like-container {
      display: inline-block;
    }
  }
}

.toast-top-center {
  top: 80px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}

.select-all {
  display: inline-block;
  i {
    float: right;
    padding-top: 5px;
  }
  h4 {
    float: right;
    padding: 0px 20px 0px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.account-type {
  display: inline-block;
  float: right;

  .radio-inline {
    float: right;
  }
}

.form-register {
  .role {
    margin-bottom: 54px;
    label {
      color: #555;
      margin-top: 6px;
    }
  }
}

.delete-entity-icon {
  float: left;
  padding: 0px 10px;
}

.searchCotainer {
  width: 90%;
  display: inline-block;
}

.unsuscribe-container {
  text-align: center;
}

.clearSearchStrIcon {
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

.delete-cv {
  padding-right: 13px;
}

.cv-view-container {
  .download-cv-btn {
    margin-bottom: 10px;
  }

  .iframe {
    width: 100%;
    height: 600px;
  }
}

.aboutus {
  text-align: center;
  font-size: 18px;
  color: #6f6f6f;
  margin-top: 28px;
  direction: rtl;
}

.side-container {
  float: left;
}

.fb-like-container {
  display: inline-block;
}

.rtl-direction {
  direction: rtl;
}

.refresh-skills {
  display: inline-block;
}

#loading-wrapper {
  text-align: center;
  height: 300px;
  position: relative;

  #spinner {
    display: inline-block;
    position: absolute;
    top: 50%;
    opacity: 0.3;
    margin-top: -50px; /* account for padding and border if not using box-sizing: border-box; */
  }
}

#header-view {
  background: $header-background-color;
  border-color: $header-background-color;

  .ui-select-container {
    height: 33px;
  }

  .navbar-brand {
    float: right;
    .header-slogan {
      @media (max-width: 767px) {
        display: none;
      }

      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }
  .header-controllers {

    @media (max-width: 768px) {
      width: 82%;
    }

    @media (min-width: 768px) {
      width: 66%;
    }

    @media (min-width: 992px) {
      width: 73%;
    }

    @media (min-width: 1200px) {
      width: 78%;
    }

    float: right;
    padding-right: 0px;
    margin-top: 5px;

    .header-search-bar {
      @media (max-width: 767px) {
        width: 70%;
      }

      @media (min-width: 768px) {
        width: 59%;
      }
      padding-top: 4px;
      padding-right: 0px;
      float: right;
      display: inline-block;
    }

    #send-button {
      height: 39px;
      display: inline-block;
      float: right;
      padding: 4px 15px 0px 15px;

      @media (max-width: 767px) {
        &.btn-disabled {
          font-size: medium;
        }
        width: 22%;
      }
      @media (min-width: 768px) {
        &.btn-disabled {
          font-size: medium;
        }
        width: 33%;
      }

      @media (min-width: 992px) {
        font-size: medium;
        width: 20%;
      }
    }

    .header-menu {
      @media (min-width: 768px) {
        width: 8%;
      }

      @media (min-width: 992px) {
        width: 21%;
      }
      float: left;
      direction: ltr;
      padding-left: 0;

      .header-actions {
        .register-login-container {
          @media (min-width: 768px) {
            padding-top: 2px;
          }

          @media (min-width: 992px) {
            padding-top: 10px;
          }

          padding-left: 20px;
          padding-right: 20px;

          .register-login-common {
            text-align: center;
            display: inline-block;
            @media (min-width: 768px) {
              width: inherit;
              &.login {
                float: left;
              }

              &.register {
                float: left;
              }

            }

            @media (min-width: 992px) {
              width: 49%;
              &.login {
                float: right;
              }

              &.register {
                float: left;
              }
            }

          }
        }

        .dropdown-container {
          @media (max-width: 991px) {
            padding-top: 6px;
          }

          @media (min-width: 992px) {
            padding-top: 10px;
          }

          /** Dropdown animation **/
          .open > .dropdown-menu {
            opacity: 1;
            visibility: visible;
          }

          .dropdown-menu {
            right: inherit;
            float: left;

            display: block;
            visibility: hidden;

            li > a {
              transition: background-color 0.5s cubic-bezier(0, 0, 0.2, 1) ;
              &:hover {
                background-color: $base60-lighter;
              }
            }
          }
          .display-name {
            .display-name-text {
              padding-left: 5px;
              display: inline-block;

              @media (max-width: 991px) {
                display: none;
              }

              @media (min-width: 992px) {
                display: inline-block;
              }
            }

            .fa-bars {
              @media (max-width: 991px) {
                font-size: 2em;
              }

              @media (min-width: 992px) {
                font-size: 1em;
              }
            }
          }

          .display-name .display-name-text:hover + .fa-bars {
            color: $base10;

          }
        }
      }
    }
  }
}
