<div ng-controller="userDetailsCtrl">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{welcome}}</h2>

            <!--Details content-->
            <form name="form" class="form-horizontal col-sm-12 align-center" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <input class="col-sm-9" type="text" ng-model="user.name" name="uName" placeholder="Your name"/>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Username</label>
                    <input class="col-sm-9" type="text" ng-model="user.username" name="uName"
                           placeholder="Your name"/>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">E-mail</label>
                    <input class="col-sm-9" type="email" ng-model="user.email" name="uEmail" required
                           placeholder="Your E-mail"/>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Experience</label>

                    <div class="col-sm-3 experience">
                        <select class="experience" ui-select2="select2Options" ng-model="user.experience"
                                data-placeholder="Pick a range">
                            <option value=""></option>
                            <option value="student">Student</option>
                            <option value="graduate">Graduate (0 - 1)</option>
                            <option value="junior">Junior (2 - 4)</option>
                            <option value="senior">Senior (5 +)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Message</label>
                    <textarea class="col-sm-9 cv-message" ng-model="user.message"/>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">CV</label>
                    {{user.fileName}}

                    <div class="col-sm-8 file-upload-container">
                        <input class="upload-button" type="file" ng-file-select="onFileSelect($files)">

                        <div class="my-drop-zone" ng-file-drop="onFileSelect($files);">or drop files here</div>
                    </div>
                    <ul ng-repeat="skill in skills">
                        <li>{{skill}}</li>
                    </ul>
                </div>
                <div class="form-group align-center">
                    <button class="btn btn-primary btn-lg" ng-click="updateUser()">שמור</button>
                </div>

            </form>
        </div>
    </div>
</div>
