<div class="container-fluid" data-ng-controller="userDetailsCtrl">
    <div class="row-fluid">
        <h2>{{welcome}}</h2>

        <!--Details content-->
        <div class="span12">
            <form name="form" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <input class="col-sm-10" type="email" ng-model="user.email" name="uEmail" required/>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <input class="col-sm-10" type="text" ng-model="user.name" name="uName"/>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Experience</label>
                    <select class="col-sm-10 experience" ui-select2="select2Options" ng-model="user.experience"
                            data-placeholder="Pick a range">
                        <option value=""></option>
                        <option value="student">Student</option>
                        <option value="graduate">Graduate (0 - 1)</option>
                        <option value="junior">Junior (2 - 4)</option>
                        <option value="senior">Senior (5 +)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">CV</label>
                </div>

                <!--<div class="well my-drop-zone" ng-file-over>-->
                <!--Base drop zone-->
                <!--</div>-->

                <!--&lt;!&ndash; Example: ng-file-drop | ng-file-drop="options" &ndash;&gt;-->
                <!--&lt;!&ndash;TODO foo is not doing the job&ndash;&gt;-->
                <!--<div class="well my-drop-zone"  ng-file-drop="{}" ng-file-over="another-file-over-class">-->
                <!--Another drop zone with its own settings-->
                <!--</div>-->

                <!--&lt;!&ndash; 2. ng-file-select | ng-file-select="options" &ndash;&gt;-->
                <!--<input ng-file-select type="file" multiple />-->

                <!--<div id="message-wrapper">-->
                <!--<textarea ng-model="message" id="message"/>-->
                <!--</div>-->
            </form>
        </div>
    </div>
</div>
