<div class="row" ng-controller="loginCtrl">
    <!--<div class="container">-->

        <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>

        <div class="text-center">
            <form name="formLogin" class="form-signin" data-ember-action="2">
                <h2 class="form-signin-heading">כניסה</h2>

                <small class="text-muted">התחבר עם...</small>
                <br><br>


                <p>
                    <a class="btn btn-primary social-login-btn social-google" target="_self" href="/auth/google"><i class="fa fa-google-plus"></i></a>
                    <!--<a ng-disabled="true" class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i></a>-->
                </p>
                <!--<p>-->
                <!--<a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter"><i class="fa fa-twitter"></i></a>-->
                    <!--<a class="btn btn-primary social-login-btn social-linkedin" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a>-->
                <!--</p>-->

                <!--<br><br>-->


                <small class="text-muted">או</small>
                <br><br>

                <div ng-class="{ 'has-error' : formLogin.email.$error.email }">
                    <input class="form-control login-input" name="email" ng-model="user.email" placeholder="דואר אלקטרוני" type="email">
                </div>
                <input class="form-control login-input-pass" name="passowrd" ng-model="user.password" placeholder="סיסמא" type="password">

                <div ng-messages="formLogin.email.$error" class="has-error">
                    <div class="help-block" ng-message="email">כתובת דואר אלקטרוני שגויה</div>
                </div>
                <div class="has-error">
                    <div class="help-block">{{errorMessage}}</div>
                </div>


                <button ng-disabled="shouldDisable()" class="btn btn-lg btn-primary btn-block btn-center" ng-click="submit()">התחבר</button>
                <br>
                <small class="create-account text-muted">אין לך חשבון עדיין?
                    <button ng-click="tabs[1].active = true" class="btn btn-sm btn-default"> הרשמה </button>
                </small>
            </form>
        </div>
</div>