<div class="modal-body">
    <div class="row">
        <div class="form-group" ng-class="{ 'has-error' : !cv.skills}">
            <label class="col-sm-3 control-label">קורות חיים</label>

            <div class="emphasize-border col-sm-9 btn btn-default" ngf-select="onFileSelect($file)">
                <div ng-show="status === STATUS.GOT_CV" class="upload-file-skills align-left">
                    <div class="col-sm-3">
                        <i class="fa  fa-file-text fa-4x text-gray"></i>
                        <a class="align-center delete-cv" ng-click="deleteCV($event)">
                            מחק קוח
                        </a>
                    </div>
                    <div class="col-sm-9 ">
                        Skills found:
                        <ul>
                            <li style="display: block" class="glyphicon glyphicon-star"
                                ng-repeat="skill in cv.skills">{{skill}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="status === STATUS.UPLOADING_CV">
                    <div class="col-sm-12">
                        <i class="fa fa-spinner fa-spin fa-4x"></i>
                    </div>
                </div>
                <div ng-show="status === STATUS.NO_CV">
                    <div class="col-sm-3">
                        <i class="fa fa-cloud-upload fa-4x"></i>
                    </div>
                    <div class="col-sm-9 ">
                        <div class="import-cv-box fileUpload">
                            <Div>לחץ להעלאת קו"ח</Div>
                            <input type="file" class="upload"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

