<div class="jumbotron" ng-controller="userDetailsCtrl">
    <form name="form" class="form-horizontal align-center" ng-keyup="updateUser($event)" novalidate>
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <input id="userName" class="col-sm-9 form-control" type="text" ng-model="user.name" name="uName"
                   placeholder="Your name"/>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <input class="col-sm-9 form-control" type="email" ng-model="user.email" name="uEmail" required
                   placeholder="Your E-mail"/>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Experience</label>

            <div class="experience">
                <select ui-select2="select2Options" ng-model="user.experience" ng-click="updateUser()"
                        data-placeholder="Pick a range">
                    <option value=""></option>
                    <option value="student">Student</option>
                    <option value="graduate">Graduate (0 - 1)</option>
                    <option value="junior">Junior (2 - 4)</option>
                    <option value="senior">Senior (5 +)</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Message</label>
            <textarea class="col-sm-9 form-control cv-message" ng-model="user.message"/>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">CV</label>

            <div class="col-sm-9 file-upload-container">
                <div class="fileUpload btn btn-default">
                    <span>Upload</span>
                    <input style="width: 100px" type="file" class="upload" ng-file-select="onFileSelect($files)"/>
                </div>
                <div class="upload-file-name"> {{user.fileName}}</div>
                <!--<input class="upload-button" type="file" value="{{user.fileName}}" ng-file-select="onFileSelect($files)">-->

                <div ng-show="user.skills" class="upload-file-skills align-left">
                    <span ng-repeat="skill in user.skills">{{skill}} </span>
                    <a href="#" class="btn btn-default btn-md" tooltip="Interesting keywords: {{user.skills}}">
                        <i class="glyphicon glyphicon-star"></i>
                    </a>
                </div>
                <div class="my-drop-zone" ng-file-drop="onFileSelect($files);">or drop files here</div>

            </div>


        </div>
        <div class="form-group" access-level="admin">
            <label class="col-sm-3 control-label">Role</label>
            <!--<label class="col-sm-9">{{user.role}}</label>-->
            <div class="experience">
                <select ui-select2="select2Options" ng-model="user.role" ng-click="updateUser()">
                    <option value=""></option>
                    <option ng-repeat="role in userRoles" value="{{role}}">{{role}}</option>
                </select>
            </div>
        </div>
        <div class="form-group" access-level="admin">
            <label class="col-sm-3 control-label">Company</label>

            <div class="experience">
                <select ui-select2="select2Options" ng-model="user.company" ng-click="updateUser()">
                    <option ng-selected="{{user.company == company._id}}" ng-repeat="company in companies"
                            value="{{company._id}}">{{company.name}}
                    </option>
                </select>
            </div>
        </div>
    </form>
</div>