<div data-ng-controller="DashboardCtrl">
    <div class="row">
        <div class="btn-group btn-group-raised">
            <a ng-class="{ 'active' : contentType.value == '0' }" ng-click="contentTypeSelected('job')" class="btn btn-default">Jobs</a>
            <a ng-class="{ 'active' : contentType.value == '1' }" ng-click="contentTypeSelected('company')" class="btn btn-default">Companies</a>
            <a ng-class="{ 'active' : contentType.value == '2' }" ng-click="contentTypeSelected('user')" class="btn btn-default">Users</a>
            <a class="btn btn-primary" ng-click="addEntity()">New</a>
        </div>
    </div>
    <hr>
    <div ui-view></div>
</div>

