<div class="row" data-ng-controller="DashboardListCtrl">
    <div class="col-xs-12 col-sm-4">
        <input class="form-control top-padding" placeholder="Search..." style="width:100%"
               ng-model="searchStr"/>

        <div class="no-padding dashboard-list">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="entity in entities | filter:searchStr" ng-class="{'active': isSelected(entity)}"
                    ng-click="setSelected(entity, $index)">
                    <a>
                        {{getDisplayName(entity)}}
<span class="glyphicon glyphicon-remove btn btn-sm" ng-click="deleteEntity(entity, $index)" style="float: left"></span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-xs-12 col-sm-8">
        <div ui-view></div>
        <!--<div ng-include="getRelevantForm()"></div>-->
    </div>
</div>
