<div class="row" data-ng-controller="DashboardListCtrl">
    <div class="col-xs-12 col-sm-4">
        <input class="form-control top-padding searchCotainer" placeholder="חפש..."
               ng-model="searchStr"/>
        <a class="clearSearchStrIcon" ng-click="searchStr = ''">
            <span class="glyphicon glyphicon-remove"></span>
        </a>

        <div class="no-padding dashboard-list">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="entity in entities | filter:searchStr" ng-class="{'active': isSelected(entity)}"
                    ng-click="setSelected(entity, $index)">
                    <a>
                        {{getDisplayName(entity)}}
                        <img class="small-logo" ng-if="entity.logo" ng-src="{{entity.logo.url}}"/>
                        <span class="glyphicon glyphicon-remove btn btn-sm delete-entity-icon" ng-click="deleteEntity(entity, $index)" style="float: left"></span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-xs-12 col-sm-8">
        <div ng-show=isLoading>
            <loading />
        </div>

        <div ng-hide=isLoading ui-view></div>
    </div>
</div>
