<div data-ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-sm-4 btn-group" id="buttonGroup">
                <button ng-class="{ 'active' : contentType.value == '0' }"
                        ng-click="contentTypeSelected('job')"
                        access-level="jobProvider" type="button" class="btn btn-default col-xs-3"
                        data-toggle="tooltip" data-original-title="Jobs">
                    <!--Jobs-->
                    <i class="glyphicon glyphicon-briefcase">
                        <div class="hidden-xs hidden-sm hidden-md dashboard-entity-type">משרות</div>
                    </i>
                </button>
                <button ng-class="{ 'active' : contentType.value == '1' }"
                        ng-click="contentTypeSelected('company')"
                        access-level="admin" type="button" class="btn btn-default col-xs-3"
                        data-toggle="tooltip" data-original-title="Companies">
                    <!--Companies-->
                    <i class="glyphicon glyphicon-usd">
                        <div class="hidden-xs hidden-sm hidden-md dashboard-entity-type">חברות</div>
                    </i>
                </button>
                <button ng-class="{ 'active' : contentType.value == '2' }"
                        ng-click="contentTypeSelected('user')"
                        access-level="admin" type="button" class="btn btn-default col-xs-3"
                        data-toggle="tooltip" data-original-title="Users">
                    <!--Users-->
                    <i class="glyphicon glyphicon-user">
                        <div class="hidden-xs hidden-sm hidden-md dashboard-entity-type">משתמשים</div>
                    </i>
                </button>
                <button ng-class="{ 'active' : contentType.value == '3' }"
                        ng-click="contentTypeSelected('cv')"
                        access-level="admin" type="button" class="btn btn-default col-xs-3"
                        data-toggle="tooltip" data-original-title="Cvs">
                    <!--Users-->
                    <i class="glyphicon glyphicon-file">
                        <div class="hidden-xs hidden-sm hidden-md dashboard-entity-type">קו"ח</div>
                    </i>
                </button>
        </div>
        <div class="col-sm-6 btn-group">
            <button class="btn btn-primary" ng-disabled="contentType.value == '3'" ng-click="addEntity()">New</button>
        </div>
    </div>
    <hr>
    <div ui-view></div>
</div>

