<div class="row">
    <div class="col-sm-4 btn-group">
        <button ng-class="{ 'active' : $ctrl.contentType == '0' }"
                ui-sref="dashboard.job"
                access-level="jobProvider" type="button" class="btn btn-default col-xs-3"
                data-toggle="tooltip" data-original-title="Jobs">
            <!--Jobs-->
            <i class="glyphicon glyphicon-briefcase">
                <div class="hidden-xs hidden-sm hidden-md dashboard-entity-type">משרות</div>
            </i>
        </button>
        <button ng-class="{ 'active' : $ctrl.contentType == '1' }"
                ui-sref="dashboard.company"
                access-level="admin" type="button" class="btn btn-default col-xs-3"
                data-toggle="tooltip" data-original-title="Companies">
            <!--Companies-->
            <i class="glyphicon glyphicon-usd">
                <div class="hidden-xs hidden-sm hidden-md dashboard-entity-type">חברות</div>
            </i>
        </button>
        <button ng-class="{ 'active' : $ctrl.contentType == '2' }"
                ui-sref="dashboard.user"
                access-level="admin" type="button" class="btn btn-default col-xs-3"
                data-toggle="tooltip" data-original-title="Users">
            <!--Users-->
            <i class="glyphicon glyphicon-user">
                <div class="hidden-xs hidden-sm hidden-md dashboard-entity-type">משתמשים</div>
            </i>
        </button>
        <button ng-class="{ 'active' : $ctrl.contentType == '3' }"
                ui-sref="dashboard.cv"
                access-level="admin" type="button" class="btn btn-default col-xs-3"
                data-toggle="tooltip" data-original-title="Cvs">
            <!--Users-->
            <i class="glyphicon glyphicon-file">
                <div class="hidden-xs hidden-sm hidden-md dashboard-entity-type">קו"ח</div>
            </i>
        </button>
    </div>
    <div class="col-sm-6 btn-group">
        <button class="btn btn-primary" ng-disabled="$ctrl.contentType == '3'" ng-click="addEntity()">New</button>
    </div>
</div>
<hr>
