<div data-ng-controller="homeCtrl" id="home-view">

    <!-- Controls-->
    <div id="home-view-top">
        <div id="big-title">בחר איזור</div>

        <div id="select">

            <ui-select multiple ng-model="appManager.selectedAreas">
                <ui-select-match placeholder="בחר איזור">{{$item}}</ui-select-match>
                <ui-select-choices repeat="area in areas | filter: $select.search" value="{{area}}">{{area}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <button ui-sref="company-board" class="btn btn-block" id="search-button" ng-click="search()"
            ng-class="{'btn-disabled':disableSend, 'btn-primary':!disableSend}"
            ng-disabled="disableSend">{{searchButtonLabel}}
    </button>
</div>