<div data-ng-controller="homeCtrl">

    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!---->
    <!--</div>-->
    <!--</div>-->

    <!-- Controls-->
    <div class="row-fluid">
        <div class="col-sm-4">
            <h3>איזור</h3>

            <div class="select2">
                <select ui-select2="areas_select2Options" multiple ng-model="appManager.selectedAreas"
                        data-placeholder="Pick an area">
                    <option ng-repeat="area in areas" value="{{area}}">{{area}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>טכנולוגיות</h3>

            <div class="select2">
                <select ui-select2="technologies_select2Options" multiple ng-model="appManager.selectedTechnologies"
                        data-placeholder="Pick a technology">
                    <option ng-repeat="technology in technologies" value="{{technology}}">{{technology}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <button class="btn btn-lg searchButton" id="search-button" ng-click="search()"
                    ng-class="{'btn-disabled':disableSend, 'btn-primary':!disableSend}"
                    ng-disabled="disableSend">{{searchButtonLabel}}
            </button>
        </div>
    </div>

    <div class="row-fluid">
        <h1>{{selected_technologies}}</h1>
    </div>

</div>