<div data-ng-controller="homeCtrl" id="home-view">

    <!-- Controls-->
    <div class="row">
        <h3 class="big-title">איזור</h3>
    </div>

    <div class="row">
        <div class="col-sm-8 select">

            <ui-select multiple ng-model="appManager.selectedAreas">
                <ui-select-match placeholder="בחר איזור">{{$item}}</ui-select-match>
                <ui-select-choices repeat="area in areas | filter: $select.search" value="{{area}}">{{area}}</ui-select-choices>
            </ui-select>
        </div>

        <div class="col-sm-4">
            <div ui-sref="company-board" class="btn btn-lg" id="search-button" ng-click="search()"
               ng-class="{'btn-disabled':disableSend, 'btn-primary':!disableSend}"
               ng-disabled="disableSend">{{searchButtonLabel}}
            </div>
        </div>
    </div>
</div>