<div class="cvs">
    <div ng-repeat="cv in cvs" class="row radio" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
        <label>
            <input type="radio" ng-model="selectedCv.name" ng-value="cv.fileName" />
            <!--<div class="col-sm-1 cv-selected">-->
                <!--<i class="fa fa-circle-o text-gray"></i>-->
            <!--</div>-->
            <!--<div class="col-sm-10 no-horizontal-padding cv-name">-->
                {{cv.fileName}}
            <!--</div>-->
            <!--<div class="col-sm-1 cv-delete animate-show" ng-show="displayTrash">-->
                <!--<i class="fa fa-trash-o text-gray"></i>-->
            <!--</div>-->
        </label>
    </div>
    <div class="row no-horizontal-padding">
        <div class="col-sm-3 no-horizontal-padding align-right grey">מיומנויות:</div>
        <div class="col-sm-9">
            {{isSkillsExists(cvs[0]) ? "" : "לא נמצאו מיומניויות"}}
            <span ng-repeat="requiredSkill in cvs[0].skills" class="skill">
                <cv-skill-tag required-skill="requiredSkill"/>
            </span>
        </div>
    </div>

</div>