<div data-ng-controller="JobsBoardCtrl">
    <div class="row">

        <div class="col-md-12">
            <div class="company-container">
                <div class="align-center">
                    <div growl></div>
                </div>
                <div class="nav-header">משרות</div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-model='shouldSelectAll' ng-click="selectAll($event)"></th>
                        <th class="logo">Logo</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Technologies</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="job in jobs | filter:isRelevant"
                        ng-class="(job.selected) ? 'selected' : ''" ng-click="toggleSelected(job)">
                        <td>
                            <input type="checkbox" ng-model="job.selected">
                        </td>
                        <td>
                            <img ng-src="{{job.company.logo.data}}" class="logo"/>
                        </td>
                        <td>
                            <a href="#/phones/{{company.id}}/{{company.details}}">{{job.company.name}}</a>
                        </td>
                        <td>
                            {{job.city}}
                        </td>
                        <td>
                            <ul ng-repeat="technology in job.technologies" class="technology">
                                <li>{{technology}}</li>
                            </ul>
                        </td>
                        <td>
                            <button tooltip="More Details"
                                    ng-click="showDetails(job)" class="btn btn-sm action-button">
                                <i class="glyphicon glyphicon-info-sign"></i> More Details
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>