<div id="job-details-view">
    <div class="job-header">
        <div class="company-image-container">
            <img class="company-image" ng-src="{{company.logo.url}}"/>
            <div class="company-name">
                <bdi><a ng-href="{{company.site|linkFixer}}" stop-propagation target="_blank" class="company-card-header">{{::company.name}}</a></bdi>
            </div>
        </div>
        <div class="job-title-container">
            <div class="job-title">
                <span>{{job.name}}</span>
            </div>
        </div>
    </div>
    <div class="job-description">
        <bdi>
            {{job.description}}
        </bdi>
    </div>
</div>
