<div class="jumbotron" id="job-view" ng-controller="JobCtrl">
    <div class="row">
        <uib-tabset>
            <uib-tab heading="פרטי משרה">
                <form name="form" class="form-horizontal align-center" ng-keyup="updateJob($event)" novalidate>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <input id="jobName" class="col-sm-10 form-control" type="text" ng-model="job.name" name="name"
                               placeholder="Job Name" auto-focus/>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">כישורים</label>
                        <div class="col-sm-10 no-horizontal-padding">
                            <ui-select multiple ng-model="job.skills" ng-change="updateSkill()">
                                <ui-select-match placeholder="מילות מפתח שהיית שמח למצוא בקורות חיים של המועמד">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="skill in skills | filter: $select.search" value="{{skill}}">{{skill}}</ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cCity">עיר</label>
                        <input class="col-sm-10 form-control" type="text" class="form-control" ng-model="job.city"
                               id="cCity" name="cCity"
                               placeholder="העיר בה המשרה"/>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">קוד משרה</label>
                        <input class="col-sm-10 form-control" type="text" ng-model="job.code" name="code"
                               placeholder=""/>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">על המשרה</label>
                <textarea class="col-sm-10 form-control cv-message" ng-model="job.description"
                          placeholder=""/>
                    </div>

                    <div class="form-group" access-level="admin">
                        <label class="col-sm-2 control-label">חברה</label>
                        <ui-select class="col-sm-10 no-horizontal-padding" ng-model="$parent.job.company" ng-click="updateJob()">
                            <!-- using $parent - https://github.com/angular-ui/ui-select/issues/18 -->
                            <ui-select-match class="company-selector">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="company in companies | filter: {name: $select.search}">{{company.name}}</ui-select-choices>
                        </ui-select>
                        <div>
                            <img class="image-container" ng-src="{{logoUrl}}"></img>
                        </div>
                    </div>
                </form>
            </uib-tab>
            <uib-tab heading="{{candidateTitle}}">
                <div ng-repeat="cv in cvs">
                    <user-card user="cv""/>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

